*{
    margin: 0;
    padding: 0;
}

.f-heavy {font-family: Camphor-Heavy, sans-serif;font-weight: 900}
.f-regular {font-family: CamphorPro-Regular, sans-serif}
.f-light {font-family: CamphorPro-Light, sans-serif}
.f-bold {font-family: CamphorPro-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorPro-Medium, sans-serif}
.f-thin {font-family: CamphorPro-Thin, sans-serif}
.f-nova { font-family: ProximaNova, sans-serif}

@font-face { font-family: CamphorPro-Light; src: url(/assets/css/fonts/CamphorPro-Light.woff) format("woff")}
@font-face { font-family: CamphorPro-Regular; src: url(/assets/css/fonts/CamphorPro-Regular.woff) format("woff")}
@font-face {font-family: CamphorPro-Bold; font-weight: 700; src: url(/assets/css/fonts/CamphorPro-Bold.woff) format("woff")}
@font-face { font-family: CamphorPro-Thin; src: url(/assets/css/fonts/CamphorPro-Thin.woff) format("woff")}
@font-face { font-family: Camphor-Heavy; font-weight: 900; src: url(/assets/css/fonts/CamphorPro-Heavy.woff) format("woff")}
@font-face {font-family: CamphorPro-Medium; src: url(/assets/css/fonts/CamphorPro-Medium.woff) format("woff")}

.f12 {font-size: .046875rem}
.f14 {font-size: .054688rem}
.f16 {font-size: .0625rem}
.f18 {font-size: .070313rem}
.f20 {font-size: .078125rem}
.f22 {font-size: .085938rem}
.f24 {font-size: .09375rem}
.f26 {font-size: .101563rem}
.f28 {font-size: .109375rem}
.f30 {font-size: .117188rem}
.f32 {font-size: .125rem}
.f34 {font-size: .132813rem}
.f36 {font-size: .140625rem}
.f38 {font-size: .148438rem}
.f40 {font-size: .15625rem}
.f42 {font-size: .164063rem}
.f44 {font-size: .171875rem}
.f46 {font-size: .179688rem}
.f48 {font-size: .1875rem}
.f50 {font-size: .195313rem}
.f52 {font-size: .203125rem}
.f54 {font-size: .210938rem}
.f56 {font-size: .21875rem}
.f58 {font-size: .226563rem}
.f60 {font-size: .234375rem}
.f64 {font-size: .25rem}
.f66 {font-size: .257813rem}
.f68 {font-size: .265625rem}
.f70 {font-size: .273438rem}
.f72 {font-size: .28125rem}
.f74 {font-size: .289063rem}
.f76 {font-size: .296875rem}
.f78 {font-size: .304688rem}
.f80 {font-size: .3125rem}
.f82 {font-size: .320313rem}
.f86 {font-size: .335938rem}
.f88 {font-size: .34375rem}
.f90 {font-size: .351563rem}
.f92 {font-size: .359375rem}
.f98 {font-size: .382813rem}
.f100 {font-size: .390625rem}
.f106 {font-size: .414063rem}
.f108 {font-size: .421875rem}
.f110 {font-size: .429688rem}
.f114 {font-size: .445313rem}
.f116 {font-size: .453125rem}
.f120 {font-size: .46875rem}
.f128 {font-size: .5rem}
.f130 {font-size: .507813rem}
.f138 {font-size: .539063rem}
.f140 {font-size: .546875rem}

.f146 {
    font-size: .570313rem
}

.f148 {
    font-size: .578125rem
}

.f150 {
    font-size: .585938rem
}

.f160 {
    font-size: .625rem
}

.f200 {
    font-size: .78125rem
}

.overview-con {
    background-color: #fff;
    width: 100%
}

.overview-con .text-container {
    color: #333;
    font-family: CamphorPro-Light, sans-serif
}

.overview-con .section {
    box-sizing: border-box;
    min-width: 4.789063rem
}

.overview-con .section01 {
    background-image: url("/assets/media/overview1-1.jpg");
    background-size:100%;
    height: 4.375rem
}

.overview-con .section01 .text-container {
    display: flex;
    flex-direction: column;
    padding: 1.398438rem 0 0 1.484375rem
}

.overview-con .section01 .text-container .text-mixture {
    display: flex
}

.overview-con .section01 .text-container .title {
    font-weight: 700;
    line-height: .34375rem
}

.overview-con .section01 .text-container .overview-onemi {
    align-self: flex-end;
    border: .007813rem solid #000;
    border-radius: .015625rem;
    height: .222656rem;
    line-height: .222656rem;
    margin-bottom: .039063rem;
    margin-left: -0.7rem;
    text-align: center;
    vertical-align: middle;
    width: .378906rem
}

.overview-con .section01 .text-container .desc {
    line-height: .1875rem;
    margin-top: .195313rem
}

.overview-con .section01 .text-container .price {
    color: #010101;
    font-size: .15625rem;
    font-weight: 700;
    margin-top: .117188rem
}

.overview-con .section02 {
    background: url("/assets/media/overview2.jpg") 50% no-repeat;
    background-size: 100% 100%;
    height: 4.6875rem
}

.overview-con .section02 .text-container {
    display: flex;
    flex-direction: column;
    padding: .671875rem 0 0 5.632813rem
}

.overview-con .section02 .text-container .title {
    font-weight: 700;
    line-height: .234375rem
}

.overview-con .section02 .text-container .title2 {
    margin-top: .050781rem
}

.overview-con .section02 .text-container .desc {
    line-height: .15625rem;
    margin-top: .191406rem;
    width: 3.125rem
}

.overview-con .section02 .text-container .key {
    color: #000;
    font-weight: 700;
    line-height: .117188rem;
    margin-top: .335938rem
}

.overview-con .section02 .text-container .text-lightning {
    align-items: center;
    display: flex;
    line-height: .117188rem;
    margin-top: .117188rem
}

.overview-con .section02 .text-container .text-lightning-img {
    height: .101563rem;
    margin-left: .070313rem;
    margin-top: .03125rem;
    width: .0625rem
}

.overview-con .section02 .text-container .power {
    align-items: center;
    color: #08f;
    display: flex;
    margin-top: .078125rem
}

.overview-con .section02 .text-container .power-img {
    height: .195313rem
}

.overview-con .section02 .text-container .power-percent {
    -webkit-text-fill-color: #0000;
    background: linear-gradient(0deg, #08f, #00bee3);
    -webkit-background-clip: text;
    margin-left: .0625rem
}

.overview-con .section02 .text-container .txt {
    color: #000;
    line-height: .117188rem
}

.overview-con .section02 .text-container .txt1 {
    margin-top: .09375rem
}

.overview-con .section02 .text-container .txt2 {
    margin-top: .074219rem
}

.overview-con .section02 .text-container .txt3 {
    line-height: .125rem;
    margin-top: .34375rem
}

.overview-con .section03 {
    background: url(/assets/media/overview3.jpg) 50% no-repeat;
    background-size: 100% 100%;
    height: 4.6875rem
}

.overview-con .section03 .text-container {
    padding: .871094rem 0 0 1.484375rem
}

.overview-con .section03 .text-container .title {
    font-weight: 700;
    line-height: .234375rem
}

.overview-con .section03 .text-container .desc {
    color: #000;
    display: block;
    line-height: .15625rem;
    margin-top: .1875rem;
    max-width: 3.125rem
}

.overview-con .section03 .text-container .power1 {
    align-items: center;
    background: url(/assets/media/Twenty-eight-percent.png) no-repeat;
    background-size: .832031rem .191406rem;
    display: flex;
    height: .191406rem;
    justify-content: center;
    margin-top: .121094rem;
    width: .902344rem
}

.overview-con .section03 .text-container .power2 {
    align-items: center;
    background: url(/assets/media/Twenty-eight-percent.png) no-repeat;
    background-size: 1.929688rem .191406rem;
    display: flex;
    height: .191406rem;
    justify-content: center;
    margin-top: .085938rem;
    width: 1.929688rem
}

.overview-con .section03 .text-container .txt {
    color: #000;
    display: block;
    height: .117188rem
}

.overview-con .section03 .text-container .txt1 {
    height: .15625rem;
    margin-top: .40625rem
}

.overview-con .section03 .text-container .txt2 {
    margin-top: .085938rem
}

.overview-con .section03 .text-container .txt3 {
    margin-top: .074219rem
}

.overview-con .section04 {
    background: url(/assets/media/overview4.jpg) 50% no-repeat;
    background-size: 100% 100%;
    height: 4.6875rem
}

.overview-con .section04 .text-container {
    color: #fff;
    padding-top: .617188rem
}

.overview-con .section04 .text-container .title {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
    line-height: .179688rem
}

.overview-con .section04 .text-container .des {
    display: flex;
    justify-content: center;
    line-height: .15625rem;
    margin-top: .195313rem
}

.overview-con .section04 .text-container .des2 {
    line-height: .15625rem;
    margin-top: .039063rem
}

.overview-con .section05 {
    background-color: #fff;
    height: 5rem
}

.overview-con .section05 .title {
    font-weight: 700;
    margin: .285156rem auto auto;
    text-align: center;
    width: 100%
}

.overview-con .section05 .table {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    margin: .269531rem auto auto;
    width: 5.898438rem
}

.hairlines .overview-con .section05 .table {
    border: .5px solid #ccc
}

.overview-con .section05 .table li {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #000
}

.hairlines .overview-con .section05 .table li {
    border-bottom: .5px solid #ccc;
    border-right: .5px solid #ccc
}

.overview-con .section05 .table .header {
    color: #000;
    font-size: .15625rem;
    height: .457031rem;
    line-height: .457031rem
}

.overview-con .section05 .table .header span {
    margin-top: 0
}

.overview-con .section05 .table li.one {
    width: 1.464844rem
}

.overview-con .section05 .table li.two {
    width: 2.039063rem
}

.overview-con .section05 .table li.three {
    border-right: none;
    width: 2.371094rem
}

.overview-con .section05 .table li.three span {
    border-right: none
}

.overview-con .section05 .table li span {
    margin-left: .367188rem;
    margin-top: .195313rem
}

.overview-con .section05 .table .col-two {
    height: 1.742188rem
}

.overview-con .section05 .table .col-three {
    height: 1.425781rem
}

.overview-con .section05 .table li:nth-child(5),
.overview-con .section05 .table li:nth-child(6),
.overview-con .section05 .table li:nth-child(8),
.overview-con .section05 .table li:nth-child(9) {
    line-height: .164063rem
}

.overview-con .section05 .table li:nth-child(7),
.overview-con .section05 .table li:nth-child(8),
.overview-con .section05 .table li:nth-child(9) {
    border-bottom: none
}

.overview-con .section06 {
    background: url(/assets/media/overview5.jpg) 50% no-repeat;
    background-size: 100% 100%;
    height: 3.4375rem
}

.overview-con .section06 .text-container {
    display: flex;
    flex-direction: column;
    padding: .808594rem 0 0 1.484375rem
}

.overview-con .section06 .text-container .title {
    font-weight: 700;
    line-height: .179688rem
}

.overview-con .section06 .text-container .des {
    font-family: CamphorPro-Light, sans-serif;
    line-height: .15625rem;
    margin-top: .195313rem
}

.overview-con .section07 {
    background: url(/assets/media/overview6.jpg) 50% no-repeat;
    background-size: 100% 100%;
    height: 3.4375rem
}

.overview-con .section07 .text-container {
    display: flex;
    flex-direction: column;
    max-width: 3.125rem;
    padding: .640625rem 0 0 5.625rem
}

.overview-con .section07 .text-container .title {
    font-weight: 700;
    line-height: .234375rem
}

.overview-con .section07 .text-container .des {
    line-height: .15625rem;
    margin-top: .195313rem
}

.overview-con .section07 .text-container .key {
    color: #008bff;
    line-height: .15625rem;
    margin-bottom: .109375rem;
    margin-top: .332031rem
}

.overview-con .section07 .text-container .key2 {
    align-items: baseline;
    color: #008bff;
    display: flex;
    line-height: .296875rem
}

.overview-con .section08 {
    background: url(/assets/media/overview7.jpg) 50% no-repeat;
    background-size: 100% 100%;
    height: 3.4375rem
}

.overview-con .section08 .text-container {
    display: flex;
    flex-direction: column;
    padding: 1.296875rem 0 0 1.484375rem
}

.overview-con .section08 .text-container .title {
    font-weight: 700;
    line-height: .179688rem
}

.overview-con .section08 .text-container .des {
    line-height: .15625rem;
    margin-top: .195313rem;
    width: 3.125rem
}

.overview-con .section09 {
    align-items: center;
    display: flex;
    height: .78125rem;
    justify-content: center
}

.overview-con .section09 .title {
    color: #333;
    font-weight: 700
}

.overview-con .section10 {
    background: #fafafa;
    display: flex;
    height: 2.8125rem;
    width: 100vw
}

.overview-con .section10 .left {
    width: 50%
}

.overview-con .section10 .text-container {
    display: flex;
    flex-direction: column;
    padding: 1.007813rem 0 0 .625rem;
    width: 50%
}

.overview-con .section10 .text-container .title {
    font-weight: 700
}

.overview-con .section10 .text-container .des {
    line-height: .15625rem;
    margin-top: .183594rem
}

.overview-con .section11 {
    display: flex;
    height: 2.8125rem;
    width: 100vw
}

.overview-con .section11 .right {
    width: 50%
}

.overview-con .section11 .text-container {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    padding: .878906rem 0 0 1.484375rem;
    width: 50%
}

.overview-con .section11 .text-container .title {
    font-weight: 700
}

.overview-con .section11 .text-container .des {
    line-height: .15625rem;
    margin-top: .183594rem
}

.overview-con .section12 {
    background-color: #fff;
    height: 1.875rem
}

.overview-con .section12 .text-container {
    color: #909090;
    line-height: .125rem;
    margin: .894531rem auto auto;
    max-width: 7.03125rem
}

.xm-price--origin {
    font-size: .6em;
    text-decoration: line-through
}

.xm-price span:first-child {
    margin-left: 0
}

.xm-price span:last-child {
    margin-right: 0
}

.xm-price .xm-price--sale .xm-price__label,
.xm-price .xm-price--sale .xm-price__sNum {
    margin: 0 3px
}

.xm-price .xm-price--sale span:first-child {
    margin-left: 0
}

.xm-price .xm-price--sale span:last-child {
    margin-right: 0
}


@keyframes loader {
    0% {
        opacity: .2;
        transform: scaleY(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}


.xm-text {
    display: inline-block;
    white-space: break-spaces
}



.section {
    background-repeat: no-repeat;
    margin-bottom: -1PX
}



table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}


a {
    color: #757575
}


dd,
dl,
dt,
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}


sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sup {
    top: -.5em
}

main {
    display: inline-block;
    font-size: 16Px
}




@media screen and (max-width:1100px) {
    .overview-con{
        display: none;
    }

}